@import url('./modal__form/modal__form.css');
@import url('./modal__header/modal__header.css');
@import url('./modal__container/modal__container.css');

.modal {
  position: absolute;
  display: none;
  width: 375px;
  height: 667px;
  background-color: #FAFAFA;
}


.modal_active {
  display: block;
}

.rotate-svg {
  transform: rotate(45deg);
}