.modal__input {
  padding: 5px;
  width: 338px;
  height: 50px;
  border: 1px solid #D6D6DE;
  border-radius: 12px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.flatpickr-calendar {
  position: absolute;
  padding: 10px;
  width: 250px;
  height: 170px;
  background-color: #D6D6DE;
  border-radius: 12px;
}

.flatpickr-months {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px
}

.flatpickr-current-month {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px
}

.numInput, .flatpickr-monthDropdown-months {
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 5px;
  width: 90px;
}

.flatpickr-innerContainer {
  width: 100%;
  height: 100%;
}

.flatpickr-weekdaycontainer{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center; /* по горизонтали */
  align-items: center;
}

.dayContainer {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center; /* по горизонтали */
  align-items: center;
}

.flatpickr-prev-month,
.flatpickr-next-month {
  width: 24px;
  height: 24px;
  font-size: 14px;
  line-height: 24px;
  padding: 2px;
  margin: 0 4px;
}

.flatpickr-prev-month svg,
.flatpickr-next-month svg {
  width: 16px;
  height: 16px;
}

.flatpickr-day.prevMonthDay,
.flatpickr-day.nextMonthDay {
  color: #999; /* серый, чтобы отличался */
  opacity: 0.6;
}

.flatpickr-day, .numInput, .flatpickr-monthDropdown-months, .flatpickr-prev-month svg,
.flatpickr-next-month svg {
  cursor: pointer;
}