@import url('./section__title/section__title.css');
@import url('./section__cards/section__cards.css');
@import url('./card/card.css');

.section__container {
  width: 375px;
  display: flex;
  flex-direction: column;
}

